@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.order_container
    display: flex
    flex-direction: column
    margin-left: 5%
    padding: 20px
    background: #fff
    border: 2px solid $dark_heading
    border-radius: 10px
    width: 30%
    font-family: 'OverpassBold'

    .address, .payment_method, .order_goods, .order_sale, .order_shipping_cost, .order_promo
        display: flex
        flex-direction: row
        justify-content: space-between

    .address_value, .payment_value
        display: flex
        flex-direction: row
        font-family: 'OverpassExtraBold'
        color: $heading
        cursor: pointer
        &:hover
            opacity: 0.9

    .card_info
        display: flex
        flex-direction: row
        gap: 5px
        .change_button
            font-family: 'OverpassMedium'
            color: $dark_heading
            margin: auto
            height: 20px
            font-size: 12px
            cursor: pointer
        .card_text
            height: 20px

    .order_promo 

        .text, .value
            display: flex
            flex-direction: column
            justify-content: center
    .order_button
        background: $detailes
        &:hover
            opacity: 0.7
            background: $detailes