@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'

    
.payment_card
    padding: 0 20px 20px 20px
    .card_info
        display: flex
        flex-direction: column
        gap: 10px
        margin-top: 10px
    .button 
        margin-top: 10px
        width: 100%
        background: $detailes
        font-family: 'OverpassMedium'
        color: $cold_bg
        &:hover
            opacity: 0.8
            background: $detailes
