$heading: #213d46
$dark_heading: #38595E
$text: #fce607
$detailes: #FF4E4E
$cold_bg: #f3f0e9

@mixin centered
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
@mixin button
    background: $detailes
    font-family: 'OverpassMedium'
    color: $cold_bg
    cursor: pointer
    &:hover
        font-family: 'OverpassMedium'
        opacity: 0.7
        background: $detailes


body
    margin: 0
    padding: 0
    background: $cold_bg

h1, h2, h3
    color: $dark_heading

