@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'
    
.paid_order
    padding: 20px
    @include centered
    .success_message
        font-family: 'OverpassSemiBold'
        margin: 0
    .to_user
        text-decoration: none
        .success_button
            width: 100%
            margin-top: 20px
            @include button
        