@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'


.cart
    display: flex
    flex-direction: row
    min-height: 80vh
    
    .goods
        display: flex
        flex-direction: column
        margin-left: 10%
        padding: 20px
        background: #fff
        border: 2px solid $dark_heading
        border-radius: 10px
        width: 40%
        min-height: 50%
    .empty_cart
        display: flex
        flex-direction: row
        justify-content: space-around
        font-family: 'OverpassBold'
