@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'
    
.order_promo 
    display: flex
    flex-direction: row
    justify-content: space-between

    .promo_input
        width: 200px

