@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'
    
.order_promo 
    display: flex
    flex-direction: row
    justify-content: space-between

    .text, .value
        display: flex
        flex-direction: column
        justify-content: center

