@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'
@import 'material-icons/iconfont/material-icons.css'


.card.suspense
    background-color: #c2c2c2

.card
    width: 270px
    height: 410px
    margin-bottom: 20px
    background: #fff
    box-shadow: 0px 0px 15px -6px $dark_heading
    &:hover
        box-shadow: 0px 0px 19px -5px $dark_heading
    @media screen and (max-width: 1485px)
        width: 230px
        height: 380px
        font-size: 15px
    @media screen and (max-width: 1290px)
        width: 200px
        height: 350px
        font-size: 12px
    @media screen and (max-width: 750px)
        width: 150px
        height: 270px
        font-size: 9px
    
    @media screen and (max-width: 600px)
        width: 120px
        height: 210px
        font-size: 7px
    

    .image
        width: 270px
        height: 270px
        background: #fff
        @include centered

        @media screen and (max-width: 1485px)
            width: 230px
            height: 230px
            .photo
                max-height: 180px
                max-width: 180px
        @media screen and (max-width: 1290px)
            width: 190px
            height: 230px
            padding: 5px
        @media screen and (max-width: 750px)
            width: 140px
            height: 170px
            padding: 5px
            .photo
                max-height: 130px
                max-width: 120px
        
        @media screen and (max-width: 600px)
            width: 110px
            height: 130px
            .photo
                max-height: 99px
                max-width: 94px
        
    .info
        padding: 10px
        color: $dark_heading
        @media screen and (max-width: 600px)
            padding: 0 0 0 5px
        .name
            font-family: 'OverpassBold'
            margin: 10px auto 10px auto
            &:hover
                color: $heading
                cursor: default
        @media screen and (max-width: 600px)
            margin: 5px auto 5px auto
            
        .price, .sale_price
            font-family: 'OverpassBold'
        .sale_price
            color: $detailes
            .oldPrice
                margin-left: 5px
                text-decoration: line-through
                color: $dark_heading
        .button
            @include button
            @media screen and (max-width: 1290px)
                height: 30px
                width: 110px
                font-size: 12px
            @media screen and (max-width: 750px)
                height: 20px
                width: 90px
                font-size: 10px
                padding: 6px 10px 6px 10px
            @media screen and (max-width: 600px)
                height: 20px
                width: 80px
                font-size: 8px
            
        .counter
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 30%

            .remove, .add
                @include centered
                width: 40px
                height: 40px
                border-radius: 5px
                background: $dark_heading
                cursor: pointer
                color: $cold_bg
                .material-icons-outlined
                    font-size: 30px
                @media screen and (max-width: 1290px)
                    width: 30px
                    height: 30px
                    .material-icons-outlined
                        font-size: 20px
                        margin: auto 5px auto 5px

                @media screen and (max-width: 750px)
                    width: 20px
                    height: 20px
                    .material-icons-outlined
                        font-size: 15px
                


            .amount
                margin: auto 10px auto 10px
                font-family: 'OverpassBold'