@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.header 
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 20px
    font-family: 'OverpassBold'
    color: $heading
    background: $cold_bg

    .main_nav, .icon_nav
        display: flex
        flex-direction: row
        gap: 30px
