@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.header 
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 20px
    font-family: 'OverpassBold'
    color: $heading
    background: $cold_bg

    .logo
        font-family: 'OverpassLight'
        text-decoration: underline

    .main_nav, .icon_nav
        display: flex
        flex-direction: row
        gap: 30px

    .main_nav 
        .menu_item
            text-decoration: none
            color: $heading
            &:hover
                opacity: 0.8
        .active
            font-family: 'OverpassBlack'
            &:hover
                opacity: 1
                cursor: default
