@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.header 
    display: flex
    flex-direction: row
    justify-content: space-between
    // padding: 20px
    font-family: 'OverpassBold'
    color: $heading
    background: $cold_bg

    .logo_img 
        width: 130px

    .main_nav, .to_cart
        display: flex

    .main_nav 
        .menu_item
            text-decoration: none
            color: $heading
            margin: 15px
            &:hover
                opacity: 0.8
        .active
            font-family: 'OverpassBlack'
            &:hover
                opacity: 1
                cursor: default
    .to_cart
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        margin: 5px
        gap: 5px
        text-decoration: none
        color: #fff
        background: $detailes
        width: 100px
        border-radius: 30px

