@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'
    
.order_address
    width: 30vw
    padding: 20px

    .button
        @include button
        margin-top: 10px
        width: 100%