@import '../../../globalStyles/styles'
@import '../../../globalStyles/fonts/stylesheet.css'

.main_nav
    .menu_button
        background-color: $dark_heading
        font-family: 'OverpassMedium'
        font-size: 15px
        border-radius: 30px
        height: 50px
        color: #fff
        margin: 10px
        &:hover
            background-color: $heading

        .button_text
            line-height: 45px 
            margin-bottom: 0
            margin-left: 5px

            