@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.current_order
    
    margin: 20px 10% auto 10%
    width: 80%
    background: #fff
    border: 2px solid $heading
    border-radius: 30px
    font-family: 'OverpassMedium'

    .order_data
        display: flex
        flex-direction: column
        margin-left: 20px

        .address, .time
            margin: 0 0 10px 0
        .cancel_button
            width: 200px
            margin-top: 20px
            font-family: 'OverpassMedium'
            color: $heading

    .goods
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 10px
        margin: 10px

        .product 

            .image
                @include centered
                width: 120px
                height: 120px
                .photo
                    display: block
                    max-width: 100px
                    max-height: 100px
                    margin: auto
                @media screen and (max-width: 800px)
                    width: 100px
                    height: 100px
                    .photo
                        max-width: 100px
                        max-height: 100px
            

            .amount
                margin: 0 25px 0 auto
                float: right
    .order_payment
        display: flex
        flex-direction: row
        gap: 10px
        margin-left: 20px

        .order_card
            box-shadow: none
            line-height: 30px
