@import '../../globalStyles/styles'
@import '../../globalStyles/fonts/stylesheet.css'
    
.current_order
    padding: 20px
    width: 80%
    background: #fff
    border: 2px solid $heading
    border-radius: 30px
    font-family: 'OverpassMedium'

    @media screen and (max-width: 800px)
        font-size: 10px

    .order_data
        display: flex
        flex-direction: column

        .order_id
            font-family: 'OverpassBold'
            @media screen and (max-width: 800px)
                font-size: 15px

        .orderId
                font-family: 'OverpassBold'
                color: $dark_heading
        .address
            margin-bottom: 0

    .goods
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 10px
        margin: 10px

        .product 

            .image
                @include centered
                width: 120px
                height: 120px
                .photo
                    display: block
                    max-width: 100px
                    max-height: 100px
                    margin: auto
                @media screen and (max-width: 1000px)
                    width: 80px
                    height: 80px
                    .photo
                        max-width: 80px
                        max-height: 80px
                @media screen and (max-width: 600px)
                    width: 60px
                    height: 60px
                    .photo
                        max-width: 60px
                        max-height: 60px
                    
                @media screen and (max-width: 400px)
                    width: 40px
                    height: 40px
                    .photo
                        max-width: 40px
                        max-height: 40px
            

            .amount
                margin: 0 25px 0 auto
                float: right
    .order_payment
        display: flex
        flex-direction: row
        align-items: center
        gap: 10px

        .order_cost
            margin: 0

        .order_card
            line-height: 19px
            box-shadow: none
            line-height: 30px
            margin: 0
    .cancel_button
        background-color: $cold_bg
        width: 200px
        font-family: 'OverpassBold'
        color: $dark_heading
        @media screen and (max-width: 800px)
            width: 140px
            font-size: 12px
        @media screen and (max-width: 600px)
            width: 120px
            font-size: 9px

